<!doctype html>
<html lang="zh-hans">
<head>
    <!--<script src="http://static.sinreweb.com/common/js/libs/jquery.2.1.4.min.js"></script>-->

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="__PUBLIC__/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <title>{block name="title"}标题{/block}</title>
</head>
<body>
    <div class="container">
        {block name="menu"}菜单{/block}
        {block name="left"}左边分栏{/block}
        {block name="main"}主内容{/block}
        {block name="footer"}底部{/block}
        {block name="script"}
    </div>

<!--JQuery-->
<script src="__PUBLIC__/js/jquery.min.js"></script>

<!--Bootstrap-->
<script src="__PUBLIC__/lib/bootstrap/js/bootstrap.min.js"></script>

<!--微信jssdk-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    wx.config({$js->config(array('getLocation'))});
</script>
{/block}
</body>

</html>